{% set title = 'Payroll' %}
{% extends 'base.html.twig' %}
{% block body %}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('index') }}">Home</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('stafflist') }}">Staff List</a>
        </li>
    {% elseif is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('profile') }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('payroll') }}">Payroll</a>
        </li>
    {% endif %}
    <li class="nav-item">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
        {% else %}
            <a class="nav-link" href="{{ path('login') }}">Login</a>
        {% endif %}
    </li>
</ul>
    <div class="row justify-content-center">
        <div class="col-md-4 col-xl-6">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Work hours</th>
                        <th scope="col">Work pay rate</th>
                        <th scope="col">OT hours</th>
                        <th scope="col">OT pay rate</th>
                        <th scope="col">Total salary</th>
                    </tr>
                </thead>
                <tbody>
                {% for payroll in payrolls %}
                    <tr>
                        <th scope="row">{{ payroll.pay_date }}</th>
                        <td>{{ payroll.att_hrs }}</td>
                        <td>{{ payroll.salary_rate }}</td>
                        <td>{{ payroll.ot_hrs }}</td>
                        <td>{{ payroll.ot_rate }}</td>
                        <td>{{ (payroll.att_hrs*payroll.salary_rate)+(payroll.ot_hrs*payroll.ot_rate) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
