{% extends 'base.html.twig' %}
{% block body %}
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{ app.url_generator.generate('index') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="stafflist.php">Staff List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile.php">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="payroll.php">Payroll</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ app.url_generator.generate('login') }}">Login</a>
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Staff ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in stafflists %}
            <tr>
                <th scope="row">{{ staff.staff_id }}</th>
                <td>{{ staff.first_name }}</td>
                <td>{{ staff.last_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
