{% extends 'base.html.twig' %}
{% block body %}
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('index') }}">Home</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('stafflist') }}">Staff List</a>
            </li>
        {% elseif is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('payroll') }}">Payroll</a>
            </li>
        {% endif %}
        <li class="nav-item">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="nav-link" href="{{ path('login') }}">Login</a>
            {% endif %}
        </li>
    </ul>
    <div class="row justify-content-center">
        <div class="col-10 col-md-4 col-xl-2">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Staff ID</th>
                        <td>{{ profile['staff_id'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">First name</th>
                        <td>{{ profile['first_name'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last name</th>
                        <td>{{ profile['last_name'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date of Birth</th>
                        <td>{{ profile['dob'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Gender</th>
                        <td>{{ profile['gender'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">E-mail</th>
                        <td>{{ profile['email'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Department</th>
                        <td>{{ profile['depart_name'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Active?</th>
                        <td>{{ profile['is_active'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address 1</th>
                        <td>{{ profile['addr'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address 2</th>
                        <td>{{ profile['addr2'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">District</th>
                        <td>{{ profile['district'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td>{{ profile['city'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Postal Code</th>
                        <td>{{ profile['postal_code'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone Home</th>
                        <td>{{ profile['phone_home'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone Personal</th>
                        <td>{{ profile['phone_personal'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
